<div class="container-fluid login">
    <div class="row">
        <div class="col-sm-5  login-fb">
            <div class="fb-div">
                <h3>Login</h3>
                <p>Login with your facebook account detail</p>
                <a href="#" (click)="login()"><img src="assets/images/icon/icon-facebook.png"> Login with your facebook account  </a>
            </div>
        </div>
        <div class="col-sm-7 login-img">
            <img src="assets/images/login-image.png" class="img-fluid">
        </div>
    </div>
  </div>
