<!-- <div class="col-sm-2 side-upload vh_100"> -->
  <p>MAIN</p>
  <div class="upload-btn-wrapper">
    <button class="btn text-left hov_none marB10" [ngClass]="currentUrl == '/dashboard' ? '' : 'page_inactive'" (click)="navigateTo()" >
      <i class="fa fa-upload mR5" aria-hidden="true"></i>
      Upload
    </button>
  </div>
  <!--  -->
  <div class="upload-btn-wrapper">
    <button class="btn text-left hov_none marB10" [ngClass]="currentUrl == '/collections' ? '' : 'page_inactive'" (click)="navigateTo('collections')" >
      <i class="fas fa-folder-open mR5"></i>
       Collections
    </button>
  </div>
<!-- </div> -->
