<div class="main_div">
  <div class="container">
    <div class="card box-shadow">
      <!-- <div class="card-header text-center">
        <h2 class="mb-0">Please click on activate account</h2>
      </div> -->
      <div class="card-body p-5">
        <div class="text-center">
          <div class="text-center">
            <h2 class="mb-1">Reset Password</h2>
            <p class="mb-4">
              We can help you reset your password using the email address linked
              to your account.
            </p>
          </div>
          <form class="example-form" [formGroup]="resetPasswordForm">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Password</mat-label>
              <input
                [type]="showPassword ? 'text' : 'password'"
                matInput
                placeholder=""
                value=""
                formControlName="password"
              />
              <i
                class="fa fa-eye position_eye_icon"
                aria-hidden="true"
                (click)="showPassword = !showPassword"
              ></i>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Confirm Password</mat-label>
              <input
                [type]="showConfPassword ? 'text' : 'password'"
                matInput
                placeholder=""
                value=""
                formControlName="confirm_password"
              />
              <i
                class="fa fa-eye position_eye_icon"
                aria-hidden="true"
                (click)="showConfPassword = !showConfPassword"
              ></i>

              <mat-error
                *ngIf="
                  resetPasswordForm.controls['password'].value &&
                  resetPasswordForm.controls['confirm_password'].value
                "
                align="right"
              >
                <span
                  *ngIf="
                    resetPasswordForm.controls['password'].value !=
                    resetPasswordForm.controls['confirm_password'].value
                  "
                  >Both password should match!</span
                >
              </mat-error>
            </mat-form-field>

            <p class="info_p">
              At least 8 characters, 1 uppercase letter, 1 number & 1 symbol
            </p>
          </form>

          <button
            class="btn activate_acc_btn"
            [disabled]="!resetPasswordForm.valid"
            (click)="submit()"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
