<div class="conatiner-fluid no-gutters">
    <!-- header menu -->
    <div class="row header navbar-expand-sm sticky-top">
        <div class="col-sm-6 col-6">
            <div class="row">
                <button class="btn sticky-top hide-sm" id="side-nav" data-toggle="collapse" href="#collapseExample" role="button">
                    <img src="assets/images/icon/hamburger.png">
                  </button>  
                <h3 class="logo">Slab Exchange</h3>
            </div>
        </div>
        <div class="col-sm-6 col-6">
            <div class="dropdown float-right">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Jhone Doe
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div  class="row">
        <!-- right side navigation -->
        <div class="col-sm-2 side-upload">
            <p>MAIN</p>
            <div class="upload-btn-wrapper">
                <button class="btn text-left"><img src="assets/images/icon/upload.png">
                    Upload</button>
                <input type="file" name="myfile" />
            </div>
        </div>
        
        <!-- left side navigation  -->
        <div class="col-sm-10 p-0 form-side">
            <div class="row right-upload">
                <div class="col-sm-9 col-9">
                    <p>Please upload front and back photos of your card, then fill in the card's details</p>
                </div>
                <div class="col-sm-3 col-3 text-right pr-0">
                    <label href="#" id="open-all" class="tab-open">Open all</label>
                </div>
            </div>
            <div class="row">
                <!--Accordion wrapper-->
                <div class="accordian col-sm-12">
                    <div class="col">
                        <div class="tabs">
                          <div class="tab">
                            <input class="input-arrow" type="radio" id="rd1" name="rd" >
                            <label class="tab-label" for="rd1">Card 1</label>
                            <a id="delete"><img src="assets/images/icon/delete.png"></a>
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-sm-3 upload-front">
                                        <div class="upload-btn-wrapper">
                                            <button class="btn text-left"><img src="assets/images/icon/upload.png">
                                                Upload Front</button>
                                            <input type="file" name="myfile" />
                                        </div>

                                        <div class="upload-btn-wrapper">
                                            <button class="btn text-left"><img src="assets/images/icon/upload.png">
                                                Upload Back</button>
                                            <input type="file" name="myfile" />
                                        </div>
                                    </div>
                                    <div class="col-sm-8 form-template">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group selector">
                                                    <label for="sel1">Category*</label>
                                                    <select class="form-control">
                                                    <option>Select One</option>
                                                    </select>
                                                    <i class="fa fa-chevron-down"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-6"></div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Year*</label>
                                                    <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Year"> -->
                                                    <p class="ans">2011</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Brand Name*</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Brand Name">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Player Name*</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Player Name">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Card Number*</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Card Number">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group selector">
                                                    <label for="sel1">Certification*</label>
                                                    <select class="form-control">
                                                    <option>Choose Certification</option>
                                                    </select>
                                                    <i class="fa fa-chevron-down"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group selector">
                                                    <label for="sel1">Card Grade*</label>
                                                    <select class="form-control">
                                                    <option>Select Card Grade</option>
                                                    </select>
                                                    <i class="fa fa-chevron-down"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Certification Number*</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Certification Number">
                                                </div>
                                            </div>
                                            <div class="col-sm-6"></div>
                                            
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label >Autographed?</label>
                                                    <div class="row check-box">    
                                                        <div class="form-check-inline">
                                                            <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" value="">Yes
                                                            </label>
                                                        </div>
                                                        <div class="form-check-inline">
                                                            <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" value="">No 
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group selector">
                                                    <label for="sel1">Auto Grade*</label>
                                                    <select class="form-control">
                                                    <option>Select Auto Grade</option>
                                                    </select>
                                                    <i class="fa fa-chevron-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row submit">
                                    <button class="btn ">Submit
                                    </button>
                                </div>
                                <div class="col-sm-1"></div>
                          </div>
                        </div>
                          <!-- ################### -->
                          <div class="tab">
                            <input type="radio" id="rd2" name="rd">
                            <label class="tab-label" for="rd2">Item 2</label>
                            <div class="tab-content">
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
                            </div>
                          </div>
                          <div class="tab">
                            <input type="radio" id="rd3" name="rd">
                            <label class="tab-label" for="rd3">Item 2</label>
                            <div class="tab-content">
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
                            </div>
                          </div>
                          <div class="tab">
                            <input type="radio" id="rd4" name="rd">
                            <label class="tab-label" for="rd4">Item 2</label>
                            <div class="tab-content">
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
                            </div>
                          </div>
                          <div class="tab">
                            <input type="radio" id="rd3" name="rd">
                            <label for="rd3" class="tab-close">Close others &times;</label>
                          </div>
                          <!-- #########################3 -->
                      </div>
                </div>
                <!-- Accordion wrapper -->
            </div>
            <div class="pb-6"></div>
        </div>
        <!-- Add more grid -->
        <div class="row add-more fixed-bottom">
            <div class="col-sm-12 submit">
                <button class="btn ">+ Add More
                </button>
            </div>
        </div>

    </div>
</div>



